<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">DAILY JOURNAL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/home">HOME</a>
            <a class="nav-link" href="/about">ABOUT US</a>
            <% if(currentUser) {%>
              <a class="nav-link" href="/compose">COMPOSE</a>
              <% } %>

          </div>
          <div class="navbar-nav ml-auto ">
            <% if(!currentUser) {%>
              <a class="nav-link" href="/login">LOGIN</a>
              <a class="nav-link" href="/register">REGISTER</a>
              <% } else {%>
                <a class="nav-link" href="/logout">LOGOUT</a>
                <% } %>
          </div>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <main class="container mt-5">
      <%- include('../flash')%>